.top-nav-left-items {
  list-style: none;
  font-size: 12px;
}
.top-nav-left-items li {
  float: left;
  width: auto;
  padding: 0 10px;
  color: #616c6f;
}
.top-nav-left-items li:hover {
  color: #545b62;
}
.social-icon-nav {
  list-style: none;
  float: right;
}
.social-icon-nav li {
  float: left;
  width: auto;
  padding: 0 5px;
}
.social-icon-nav li a {
  color: #545b62;
}
.social-icon-nav li a:hover {
  color: #616c6f;
}

@media only screen and (max-width: 768px) { 
  .social-icon-nav{
    display: none;
  }
}